.navOutside{
  width: 100%;
  clear:both;
  height: 100%;
}


.navInside{
  position: relative;
  float:left;
  width:80%;
  
}

.navInside ul {
  list-style: none;

  overflow: hidden;
}

.navInside ul li{
  display: inline-block;
  padding: 10px 20px;
}

  .signInBtn{
    font-size: 20px;
  }

  .registerBtn{
    font-size: 20px;
  }

  .signInBtn, .registerBtn{
    padding: 3px 5px;
  }

  
  /**Hemburger menu*/
  
  
  .nav{
    width:20%;
    float:right;
    padding-top:10px;
  }
  
  .barButton {
    float: right;
    position: relative;
    z-index: 20;
  }
  
  .bar {
    width: 30px;
    margin: 3px;
    height: 4px;
    background-color: white;
  }

  .nav ul {
    
    list-style-type: none;
  }
  
  .nav ul li{
    overflow: hidden;
    padding-top: 40px;
    font-size: 18px;
    padding-right:15px;
    padding-left:15px;
    color: white;
  }

  .nav a:link {
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: white;
    color: yellow;
  }


  .navLink {
    background-color: rgb(235, 46, 46);
    display: flex;
    flex-flow: row nowrap;
    width: 40%;
    position: fixed;
    right: 0px;
    height: 0px;
    font-size: xx-large;
  }

  .navoff{
    display:none;
  }




  /* 
   ul{

    list-style-type:none;
    
  }
   
  ul li{
    padding: 10px 30px;
  }
   
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    background-color: white;
    color: yellow;
  }
  
  .navLink {
    background-color: rgb(235, 46, 46);
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    position: fixed;
    right: 0px;
    height: 0px;
    font-size: xx-large;
  }
   */