@import '../../styles/variables.scss';
.main {
  width: 450px;
  height: 300px;
  display: flex;
}

.folded {
  position: relative;
  width: 150px;
  height: 300px;
  background: linear-gradient(to left, #271212, #9f0909);
}

.page-container {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  width: 300px;
  background: radial-gradient(circle, #9f0909, #271212);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.folded:before {
  border: solid transparent;
  content: ' ';
  position: absolute;
  border-top-color: white;
  border-left-color: white;
  border-width: 75px;
  top: 0;
}
.folded:after {
  position: absolute;
  border: solid transparent;
  content: ' ';
  border-bottom-color: white;
  border-left-color: white;
  border-width: 75px;
  bottom: 0;
}
