@import 'variables.scss';
.App {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  background-image: url(../assets/img/main_bg.png);
  background-size: cover;
}
h1:hover {
  font-style: italic;
}
