// Bootstrap variables
$primary: #271212 !default;
$secondary: #9f0909 !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
$white: $light !default;
