.App {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-image: url(./images/main_bg.png); 
  background-size:cover;
  
}
.LeftContainer{
  width:50%;
  height: 100%;
  float:left;

  
}

.RightContainer{
  width: 60%;
  height: auto;
  background-color: blue;
  float: right;

}
.logo{
    position: relative;
    overflow: hidden;
  

  }
.containerLogo {
  background-image: url("./images/logo_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  margin-left: 50px;
  width: 100px;
  height: auto;
}






.containerTNA {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -210px;
  margin-left: 100px;
  overflow: hidden;
}
.centeredTNA {
  position: absolute;
  top: 45%;
  left: 50%;
  right:40%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}  





.containerGTK {
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-top: -210px;
  margin-left: 20px;
  
}
.centeredGTN {
  position: absolute;
  top: 35%;
  left: 40%;
  right:40%;
  transform: translate(-50%, -50%);
} 




.containerEvents {
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-top: -100px;
  margin-left: -110px;
  margin-right: 0px;
  
}
.centeredEvents {
  position: absolute;
  top: 40%;
  left: 40%;
  right:40%;
  transform: translate(-50%, -50%);
} 






.containerGallery {
  position: absolute;
  text-align: center;
  color: white;
  margin-left: 2%;
  overflow: hidden;
}

.centeredGallery {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.containerContact {
  position: relative;
  text-align: center;
  color: white;
  margin-left: -15%;
  margin-top: 0%;
  
}

.centeredContact {
  position: absolute;
  font-size: 20px;
  text-decoration-color: aquamarine;
  top: 760%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.containerMembers {
  position: absolute;
  text-align: center;
  color: white;
  padding-left: 20%;
  margin-left:-3%;
  margin-top: -25%;


  display: grid;
  grid:
  'myArea myArea . . .'
  'myArea myArea . . .';
  grid-gap: 10px;
  background-color: #2196F3
  
}



.centeredMembers {
  position: absolute;
  font-size: 20px;
  text-decoration-color: aquamarine;
  top: 40%;
  left:78%;
  transform: translate(-50%, -50%);
} 