.App {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-image: url(./images/main_bg.png); 
  background-size:cover;
  
}
.LeftContainer{
  width:40%;
  height: 100%;
  float:left;

  
}

.RightContainer{
  width: 50%;
  height: auto;
  float: right;

}
.logo{
    position: relative;
    overflow: hidden;
  

  }
.containerLogo {
  position: relative;
  background-image: url("./images/logo_bg.png");
  margin-top: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  margin-left: 15%;
  padding-bottom: 10%;
  width: 15%;
}






.containerTNA {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -30%;
  margin-right: -10%;
  margin-left: 30%;
  overflow: hidden;
}
.centeredTNA {
  position: absolute;
  margin-left: 50%;
  margin-top: -50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
}  





.containerGTK {
  position: absolute;
  text-align: center;
  color: white;
  float:left;
  margin-top: -15.5%;
  margin-left: 6%;
  
}
.centeredGTN {
  position: absolute;
  top: 40%;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
} 




.containerEvents {
  position: absolute;
  text-align: center;
  color: white;
  float:left;
  margin-top: -8.5%;
  margin-left: 12.9%;
  
}
.centeredEvents {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} 




.containerGallery {
  position: absolute;
  text-align: center;
  color: white;
  margin-left: 6%;
  margin-top: -1.5%;
  overflow: hidden;
}

.centeredGallery {
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.containerContact {
  position: absolute;
  text-align: center;
  color: white;
  margin-top: 5.5%;
  margin-left: 12.9%;
  
}

.centeredContact {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.containerMembers {
  position: absolute;
  text-align: center;
  color: white; 
  margin-top: -1.5%;
  margin-left: 20%;
}



.centeredMembers {
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
} 




h1:hover {
font-style: italic;
}


/*-----------------       ----------------------------------*/


.mainBg{

  background-image: url(./images/main_bg.png);
}


.dropdown {
  position: relative;
  display:block;
  float:right;
}

.dropbtn {
  background-image: url(./images/imgtest.jpg);
  background-size: cover;
  color: white;
  padding: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display:block;
  float:right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}




