.menuGrid li {
  list-style: none;
}

.App {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-image: url(./images/main_bg.png); 
  background-size:cover;
  
}


.RightContainer{
  width: 50%;
  height: auto;
  float: right;

}
/*
.LeftContainer{
  width:60vw;
  height: 60vw;
  padding-top: 5%;
  padding-left: 2%;
  display: grid;
  grid-template:2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  grid-template-areas: 
 "  logo logo TNA TNA TNA TNA ."
 "  logo logo TNA TNA TNA TNA ."
 "  logo logo TNA TNA TNA TNA ."
 "   GTK GTK TNA TNA TNA TNA ."
 " GTK GTK TNA TNA TNA TNA. "
 "  GTK  GTK . . . .  ."
 " .  Events Events .  . . ."
 ". Events Events . . . . "
 ". Events Events . . . ."
 "  Gallery Gallery Members Members . . ."
 "  Gallery Gallery Members Members . . ."
 "  Gallery Gallery Members Members . . ."
 "  . contactus contactus . . . ."
 "  . contactus contactus  . . . ."
 "  . contactus contactus . . . ."
 
}

.logo{
  background-image: url(./images/logo_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: logo;
  margin-left: 5%;
  overflow: visible;
  margin-bottom: -15%;
}

.TNA{
  background-image: url(./images/bgTNA.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: TNA;
 margin: -13% 5% -40% -27%;
 
  
}

.GTK{
  background-image: url(./images/menu_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: GTK;
  margin-top: 15%;
  margin-bottom: -30%;
}

.Events{
  background-image: url(./images/menu_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: Events; 
  margin-top: -15%;
  
}

.Gallery{
  background-image: url(./images/menu_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: Gallery;
  margin-top: 15%;
  margin-bottom: -30%;
  
}

.Members{
  background-image: url(./images/menu_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: Members;
}

.contactus{
  background-image: url(./images/menu_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: contactus;
}

*/



.LeftContainer{
  position: absolute;
  width:60vw;
  height: 60vw;
  padding-top: 5%;
  padding-left: 2%;
}








.logo{
    position: relative;
    overflow: hidden;
  

  }
.containerLogo {
  position: relative;
  background-image: url("./images/logo_bg.png");
  margin-top: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
  width: 1vw;
}






.containerTNA {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -20%;
  margin-left: 7%;
  overflow: hidden;
  width:25vw;
}

.centeredTNA {
  position:absolute;
  text-align: center;
  color: white;
  top: 00%;
  left:00%;
  font-size: 2.5vw;
  overflow: hidden;
  width:15vw;
  
}  





.containerGTK {
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-top: -14%;
  margin-left: -9.5%;
  width:20vw;
  
}
.containerGTK h1 {
  position: relative;
  color: white;
  margin-top: -40%;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  
} 




.containerEvents {
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-top: -2.25%;
  margin-left: -27.75%;
  width:25vw;
  
}
.centeredEvents {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
} 


/*  

.containerGallery {
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-top: -13%;
  margin-left: -6.5%;
  width:25vw;
}

.centeredGallery {
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.containerContact {
  position: relative;
  text-align: center;
  color: white;
  float:left;
  margin-top: -1%;
  margin-left: -20%;
  
}

.centeredContact {
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
} 


.containerMembers {
  position: absolute;
  text-align: center;
  color: white; 
  margin-top: -4.75%;
  margin-left: 9.75%;
}



.centeredMembers {
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
} 




h1:hover {
font-style: italic;
}

*/
/*-----------------       ----------------------------------*/




