@import '../../styles/variables.scss';

.containerLogo {
  position: relative;
  background-image: url('../../assets/img/logo_bg.png');
  margin-top: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5%;
  padding: 10%;
  width: 5vw;
}
